.mainContainer {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template: 80px repeat(3, 1fr) / 1fr;
  background-color: pink;
}

.titleContainer {
  grid-area: 1/1/2/2;
  height: 80px;
  display: grid;
  grid-template: 1fr/ 0.5fr 1fr;
  align-items: center;
}
.titleIcon {
  color: white;
  height: 50px;
  width: auto;
  justify-self: center;
  padding-left: 5px;
}
.title {
  color: white;
  justify-self: start;
  font-size: 1.4rem;
  font-weight: 600;
}

.generalNavContainer {
  margin-top: 20px;
  grid-area: 2/1/3/2;
}

.navTitleContainer {
  margin-top: 10px;
  font-size: 1.1rem;
  display: flex;
  align-content: center;
  text-align: center;
  padding-left: 23px;
  grid-template: 1fr / repeat(2, 1fr);
  place-items: center;
}
.navIconContainer {
  justify-self: center;
  align-self: center;
  padding-right: 20px;
}

.navIcon {
  color: white;
  height: 30px;
  width: auto;
}

.navTitle {
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 6px;
}

.navTitle:hover {
  color: rgb(255, 27, 27);
  text-decoration: underline;
}

.supportContainer {
  margin-top: 50px;
  grid-area: 3/1/3/2;
  place-items: center;
}
