.mainContainer {
  background-color: rgb(238, 227, 237);
  height: 100%;
  display: grid;
  grid-template: 1fr/ 3.5fr 1.3fr;
}

.projectSection {
  display: grid;
  grid-template: auto 1fr / auto;
}

.areaTitle {
  margin-left: 15px;
  margin-top: 15px;
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 7.5px;
  justify-self: flex-start;
}

.projectContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
}

.projectCardContainer {
  background: linear-gradient(to right, pink 50%, white 50%);
  border-radius: 17px;
  margin: 7.5px 15px;
  padding: 0 15px;
  display: flex;
  box-shadow: 2px 2px 6px rgb(206, 196, 196);
}

.projectCard {
  background-color: rgb(255, 255, 255);

  width: 100%;
  padding: 10px;
}

.projectCardTitle {
  font-size: 1.3rem;
  font-weight: bold;
}

.projectSummary {
  line-height: 1.4rem;
  text-indent: 20px;
  font-size: 1rem;
  margin-top: 10px;
  padding-bottom: 80px;
}

.projectIconContainer {
  display: flex;
  justify-content: flex-end;
}

.iconContainer {
  margin: 7px;
  height: 35px;
  width: 35px;
  display: flex;
}

.icon {
  justify-self: center;
  align-self: center;
  height: 30px;
  color: grey;
}

.icon:hover {
  justify-self: center;
  align-self: center;
  height: 32px;
  color: black;
}

.sectionContainer {
  grid-area: 1/1/2/2;
  margin-right: 15px;
  display: grid;
  grid-template: auto 1fr/ 1fr;
  height: fit-content;
}

.contentContainer {
  background-color: white;
  display: grid;
  height: fit-content;
  border-radius: 17px;
  margin: 7.5px;
  padding: 21px;
  box-shadow: 2px 2px 6px rgb(206, 196, 196);
}

.content > .card:not(:last-child) {
  border-bottom: 2px solid pink;
}

.card {
  margin: 5px;
  padding: 5px;
}

.title {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.summary {
  font-size: 0.9rem;
  margin-bottom: 5px;
}
